<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${categories}">
            <th scope="row" th:text="${item.id}"/>
            <td th:text="${item.name}"/>
            <td><a th:href="@{${href} +'admin/category/delete/'+${item.id}}"><img th:src="@{/images/remove.jpg}"
                                                                              width="16px"/></a>
                <a th:href="@{${href} +'admin/category/edit/'+${item.id}}"><img th:src="@{/images/edit.png}"
                                                                            width="16px"/></a>
            </td>
        </tr>
        <tr>
            <th>-</th>
            >
            <td><a th:href="@{${href} +'admin/new-category'}">Add new item</a></td>
            <td><a th:href="@{${href} +'admin/new-category'}">+</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>