<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <th scope="row" th:text="${item.id}"/>
            <td th:text="${item.name}"/>
            <td th:text="${item.value}"/>
            <td th:text="${item.category.name}"/>
            <td><a th:href="@{${href} +'admin/item/delete/'+${item.id}}"><img th:src="@{/images/remove.jpg}"
                                                                                          width="16px"/></a>
                <a th:href="@{${href} +'admin/item/edit/'+${item.id}}"><img th:src="@{/images/edit.png}"
                                                                                      width="16px"/></a>
            </td>
        </tr>
        <tr>
            <th>-</th>
            >
            <td><a th:href="@{${href} +'admin/new-item'}">Add new item</a></td>
            <td><a th:href="@{${href} +'admin/new-item'}">+</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>