<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <form th:action="@{/admin/logs}" method="POST">
        <div class="form-group">
            <label for="ip">Ip</label>
            <input type="text" name="ip" class="form-control" id="ip" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="secondIp">Second Ip</label>
            <input type="text" name="secondIp" class="form-control" id="secondIp" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" name="type" class="form-control" id="type" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Data</th>
            <th scope="col">Type</th>
            <th scope="col">Ip</th>
            <th scope="col">Second Ip</th>
            <th scope="col">User Id</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <th scope="row" th:text="${log.id}"/>
            <td th:text="${log.type}"/>
            <td th:text="${log.data}"/>
            <td th:text="${log.ip}"/>
            <td th:text="${log.secondIp}"/>
            <td th:text="${log.user.id}"/>
            <td th:text="${log.description}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>