<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <form action="#" th:object="${shipping}" method="POST">
        <div class="form-group">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="Enter name" required="required">
        </div>
        <div class="form-group">
            <label>cost</label>
            <input type="text" th:field="*{cost}" class="form-control" placeholder="Enter cost" required="required">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>