<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <table>
        <tr><td>
    <h2>Items</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Value</td>
            <td>Amount</td>
        </tr>
        <tr th:each="item :${order.cart.items}">
            <td th:text="${item.item.name}"/>
            <td th:text="${item.item.value}"/>
            <td th:text="${item.amount}"/>
        </tr>
    </table>
    <h2>Shipping</h2>
    <h5>Name</h5>
    <div th:text="${order.shipping.option.name}"/>
    <h5>Cost</h5>
    <div th:text="${order.shipping.option.cost}"/>
    <div>
        <h5>Address</h5>
        <table>
            <tr>
                <td>City</td>
                <td th:text="${order.shipping.adress.city}"/>
            </tr><tr>
            <td>Country</td>
            <td th:text="${order.shipping.adress.country}"/>
        </tr><tr>
            <td>Postal Adress</td>
            <td th:text="${order.shipping.adress.postalAdress}"/>
        </tr><tr>
            <td>Home number</td>
            <td th:text="${order.shipping.adress.homeNumber}"/>
        </tr><tr>
            <td>Street</td>
            <td th:text="${order.shipping.adress.street1line}"/>
        </tr>
        </table>
    </div>
        </td>
        </tr>
    </table>
    <form th:action="@{'/admin/order/'+${order.id}}" method="POST">
        <select name="statusId">
            <option th:each="orderStatus : ${orderStatusList}"
                    th:value="${orderStatus.id}"
                    th:text="${orderStatus.name}">
        </select>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>