<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipping : ${shippingList}">
            <th scope="row" th:text="${shipping.id}"/>
            <td th:text="${shipping.name}"/>
            <td th:text="${shipping.cost}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>