<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div th:replace="fragments/menu :: menu"/>
<div th:replace="fragments/settingsMenu :: settingsMenu"/>
<div class="container clas">
    <div th:each="order :${orders}">
        <h2>Items</h2>
        <div th:each="item :${order.cart.items}">
            <div th:text="${item.name}"/>
            <div th:text="${item.value}"/>
        </div>
        <h2>Shipping</h2>
        <div th:text="${order.shipping.option.name}"/>
        <div th:text="${order.shipping.option.cost}"/>
        <div>
            <p th:text="${order.shipping.adress.city}"/>
            <p th:text="${order.shipping.adress.country}"/>
            <p th:text="${order.shipping.adress.postalAdress}"/>
            <p th:text="${order.shipping.adress.homeNumber}"/>
            <p th:text="${order.shipping.adress.street1line}"/>
            <p th:text="${order.shipping.adress.street2line}"/>
            </p>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>