<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <div th:replace="fragments/settingsMenu :: settingsMenu"/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Data</th>
            <th scope="col">Ip</th>
            <th scope="col">Second Ip</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <th scope="row" th:text="${log.id}"/>
            <td th:text="${log.data}"/>
            <td th:text="${log.ip}"/>
            <td th:text="${log.secondIp}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>