.clas{
    background: rgb(247, 234, 217);
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.form {
    width: 40%;
    margin: auto;
}

.item-image{
    width: 100%;}

.cusnav {
    float: left;
    width: 150px;
}

.cuscolumn {
    float: left;
}

.parent {
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
}

#parent:after {
    clear: both;
    display: table;
    content: '';
}