<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <ul class="flex-container">
    <li th:each="category : ${categories}" style="margin-top:10px;" class="">
        <div class="flex-item card" style="width: 18rem;margin: auto;">
            <img class="card-img-top" th:src="@{/images/img.jpg}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${category.name}"></h5>
                <a th:href="@{'shop/'+ ${category.name}}" class="btn btn-primary">Go to category</a>
            </div>
        </div>
    </li>
    </ul>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>