<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:switch="${success}">
        <p th:case="true" class="alert alert-success">Wyslano dalsze instrukcje na podany email!</p>
        <p th:case="false" class="alert alert-danger">Użytkownik o podanym emailu istnieje!</p>
    </div>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>