<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <form th:action="@{/register/}" method="POST" class="form">
        <div class="form-group">
            <label for="firstPass">Password</label>
            <input type="password" name="firstPass" class="form-control" id="firstPass" aria-describedby="emailHelp"
                   placeholder="Enter password" required="required">
            <label for="secondPass">Repeat Password</label>
            <input type="password" name="secondPass" class="form-control" id="secondPass" aria-describedby="emailHelp"
                   placeholder="Repeat password" required="required">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                   placeholder="Enter name" required="required">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp"
                   placeholder="Enter last name" required="required">
            <input type="hidden" name="code" th:value="${code}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>