<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <th scope="row" th:text="${item.item.id}"/>
            <td th:text="${item.item.name}"/>
            <td th:text="${item.item.category.name}"/>
            <td th:text="${item.item.value}"/>
            <td th:text="${item.amount}"/>
            <td th:text="${item.amount}*${item.item.value}"/>
            <td><a th:href="@{'remove-'+${item.id}}">Remove</a></td>
        </tr>
        <tr>
            <td />
            <td />
            <td />
            <td />
            <td />
            <td th:text="${value}"/>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/shop/cart/buy}" method="get">
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>