<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/defaultHead :: head">
</head>
<body>
<div class="container clas parent">
    <div th:replace="fragments/menu :: menu"/>
    <div style="float:left">
        <div th:switch="${category.parent.name}">
            <div th:case="root"></div>
            <div th:case="*">
                <a th:href="${category.parent.name}" th:text="@{'<- '+${category.parent.name}}"/>
            </div>
        </div>
        <p th:text="${category.name}"/>
        <ul>
            <li th:each="child : ${category.childCategory}">
                <a th:href="${child.name}" th:text="${child.name}"/>
        </ul>
    </div>
    <ul style="float: right; width: 80vw">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}" style="margin-top:10px;" class="">
                <td><img th:src="@{${href} +'image/'+${item.id}}" style="width: 64px;"/></td>
                <td><a th:href="@{${href} +'shop/item/'+ ${item.id}}" th:text="${item.name}"></td>
                <td th:text="${item.value}"/>

            </tr>
            </tbody>
        </table>

    </ul>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>