<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <ul class="flex-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}" style="margin-top:10px;" class="">
                <td><img th:src="@{${href} +'image/'+${item.id}}" style="width: 64px;"/></td>
                <td><a th:href="@{${href} +'shop/item/'+ ${item.id}}" th:text="${item.name}"></td>
                <td th:text="${item.value}"/>

            </tr>
            </tbody>
        </table>

    </ul>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>