<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/defaultHead :: head"/>
</head>
<body>
<div class="container clas">
    <div th:replace="fragments/menu :: menu"/>
    <div th:object="${item}">
        <h5 th:text="*{name}"></h5>
                    <p th:text="*{description}"></p>
        <p th:text="*{value}"></p>
                    <p th:text="*{category.name}"></p>
                </div>
    <form action="#" method="POST" class="form">
        <h3>Add to cart</h3>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" class="form-control" id="amount" placeholder="Amount">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:replace="fragments/scripts :: scripts"/>
</body>
</HTML>